/*************************************
 REMOVE BASIC STYLING
**************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************************************
 GENERAL STYLING
**************************************/

body {
  background-image: linear-gradient(120deg, #d3daff, #cbf9ff);
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100vh;
}

.wrapper {
  background: linear-gradient(#ffffff, rgba(255, 255, 255, 0) 15%);
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  height: 100vh;
}

header {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  font-weight: 400;
}

header p {
  font-weight: 200;
}

header small {
  font-size: 1rem;
}

/*************************************
 FORM
**************************************/

form {
  min-height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.6rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}

form button {
  color: #778eff;
  background: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

form button:hover {
  background-color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #000000;
  font-family: "Hanken Grotesk", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding: 1rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  color: #778eff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ffffff;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.4s ease;
}

.select:hover::after {
  background-color: #000000;
  color: #778eff;
}

/*************************************
 TODO LIST
**************************************/

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

/* Todo Div inserted with JS */
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.todo li {
  /* Pushes icons to the right */
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.green-check {
  background: green;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.trash-btn {
  background-color: red;
}

.todo-item {
  padding: 0 0.5rem;
}

.bi-check-circle,
.bi-trash3 {
  /* turns icons unclickable */
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(-15deg);
  opacity: 0;
}

/*************************************
 BREAKPOINTS
**************************************/

/* For mobile phones: */

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

/* For tablets: */

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 80%;
  }
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  .wrapper {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 60%;
  }
}
